body {
  font-family: Tahoma;
  background: #f5f5f5;
}

.card {
  background: white;
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

input, button {
  width: 100%;
  margin: 8px 0;
  padding: 8px;
}